
body {
    margin: 2rem 2rem;
    background-color: rgb(66, 120, 156);
    color: white;
    font: normal 1rem arial;
}

h1{
    font-size: 28px;
}

img {
    width: 200px;
}

.resultado {
    margin-top: 10px;
    width: 410px;
    padding: 5px;
    background-color: white;
    color: rgb(66, 120, 156);
    border-radius: 10px;
}

#digiteIdade {
    padding: 5px;
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
    padding: 5px;
}
