body {
    margin: 2rem 2rem;
    background-color: rgb(66, 120, 156);
    color: white;
    font: normal 1rem arial;
}

h1{
    font-size: 28px;
}

h3 {
    margin-top: 50px;
}

img {
    width: 200px;
}